.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    .login__form {
        width: 300px;
    }

    .button__solid {
        margin: 40px 0 0 0;
    }

    .button__outline {
        margin: 10px 0 0 0;
    }
}