.inputChat-field {
    width: 320px;
    height: 30px;
    border: none;
    background-color: transparent;
    width: 100%;
    border: 1px solid var(--borderChatInput);
    padding-bottom: 7px;
    font-size: 13px;
    color: var(--text-primary);
    font-weight: 500;
    line-height: 13px;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 14px;
}