.editProfile-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    .profile__inputs-wrapper {
        width: 400px;
        margin-top: 60px;
    }

    .inputsProfile label {
        margin-top: 15px;
    }

    .inputsProfile label .inputProfile-field {
        margin-bottom: 2px;
    }

    .profile__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
