<form class="inputsProfile">
    <label>
        <input
            class="inputProfile-field"
            type="email" 
            value="semenlovescats@yandex.ru"
            name="email"
            {{#if disabled}}disabled{{/if}}
        />
        <span>Email</span>
    </label>

    <label>
        <input 
            class="inputProfile-field"
            type="text" 
            value="semyon"
            name="login"
            {{#if disabled}}disabled{{/if}}
        />
        <span>Логин</span>
    </label>
    
    <label>
        <input 
            class="inputProfile-field"
            type="text" 
            value="Семен"
            name="first_name"
            {{#if disabled}}disabled{{/if}}
        />
        <span>Имя</span>
    </label>
    
    <label>
        <input 
            class="inputProfile-field"
            type="text" 
            value="Семенов"
            name="second_name"
            {{#if disabled}}disabled{{/if}}
        />
        <span>Фамилия</span>
    </label>
    
    <label>
        <input 
            class="inputProfile-field"
            type="text" 
            value="Сема"
            {{disabled}}
            name="display_name"
            {{#if disabled}}disabled{{/if}}
        />
        <span>Имя в чате</span>
    </label>

    <label>
        <input
            class="inputProfile-field"
            type="text" 
            value="+7456729078"
            name="phone"
            {{#if disabled}}disabled{{/if}}
        />
        <span>Телефон</span>
    </label>
    
    
</form>