.editPassword-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .editPassword__inputs {
        width: 25%;
        margin-top: 60px;

        .inputProfile-field {
            width: 100%;
            border: none;
            box-sizing: border-box;
            padding-bottom: 7px;
            font-size: 14px;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: 5px;
        }
    }

    .password-inputs__wrapper {
        width: 45%;
        margin-top: 60px;
    }

    .inputProfile {
        margin-bottom: 15px;
    }

    .backButton {
        margin: 10px 0;
    }

    .button {
        width: 200px;
    }

}
