<div class="chat-list-item">
    {{#> avatar/avatar}}{{/ avatar/avatar}}
    <div class="chat-list-item__content">
        <p class="content__name">Влада</p>
        <p class="content__message">Хорошо. Как у тебя?</p>
    </div>
    <div class="chat-list-item__info">
        <p class="time">23.59</p>
        <p class="messageAmount">1</p>
    </div>
</div>