.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 220px;
    width: fit-content;
    padding: 40px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
