:root {
    --ff: "Inter", "Arial", sans-serif;
    --button-color: #9e35c3;
    --solid-button-color: #fff;
    --borderInput: #d2d2d2;
    --borderChatInput: rgb(236 201 236);
    --borderChatListItem: rgb(223 222 222);
    --messageAmount-bg: #7633f3;
    --text-primary: rgb(0 0 0);
    --text-secondary: rgb(133 133 133);
    --link-color: #822ba1;
    --logoutLink-color: rgb(214 7 7);
    --ownMessage-bg: rgb(243 243 243);
    --ownMessage-time-color: rgb(156 154 154);
    --notOwnMessage-bg: rgb(237 224 253);
    --notOwnMessage-time-color: rgb(198 159 212);
    --border-color: #d6d6d6;
<<<<<<< HEAD
    --chatHeader-bg: rgb(133 45 184);
=======
    --chatHeader-bg: rgb(133, 45, 184);
>>>>>>> main
  }
