@import "./variables/variables";
@import "./partials/input/input";
@import "./partials/button/button";
@import "./partials/menu/menu";
@import "./partials/searchForm/searchForm";
@import "./partials/profile/profile";
@import "./partials/chatListItem/chatListItem";
@import "./partials/error/error";
@import "./partials/avatar/avatar";
@import "./partials/message/message";
@import "./partials/profileHeader/profileHeader";
@import "./pages/profile/profile";
@import "./pages/editProfile/editProfile";
@import "./pages/editPassword/editPassword";
@import "./pages/login/login";
@import "./pages/register/register";
@import "./pages/chat/chat";
@import "./pages/404Error/404Error";
@import "./pages/5Error/5Error";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color-scheme: light dark;
  color: rgb(0 0 0);
  background-color: rgb(255 255 255);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link a {
  color: black;
}

.card {
  display: flex;
  flex-flow: column nowrap; 
  align-items: center;
  min-width: 220px;
  width: fit-content;
  padding: 40px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
