body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

@import "./variables/variables.scss";
@import "./layouts/card/card.scss";
@import "./partials/input/input.scss";
@import "./partials/button/button.scss";
@import "./partials/chatListItem/chatListItem.scss";
@import "./partials/menu/menu.scss";
@import "./partials/searchForm/searchForm.scss";
@import "./partials/profile/profile.scss";
@import "./partials/chatListItem/chatListItem.scss";
@import "./partials/error/error.scss";
@import "./partials/avatar/avatar.scss";
@import "./partials/message/message.scss";
@import "./partials/inputChat/inputChat.scss";
@import "./partials/profileHeader/profileHeader.scss";
@import "./pages/profile/profile.scss";
@import "./pages/editProfile/editProfile.scss";
@import "./pages/editPassword/editPassword.scss";
@import "./pages/login/login.scss";
@import "./pages/auth/auth.scss";
@import "./pages/chat/chat.scss";
@import "./pages/404Error/404Error.scss";
@import "./pages/5Error/5Error.scss";
@import "./partials/layouts/page.scss";
