.input-field {
    width: 320px;
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid var(--borderInput);
    padding-bottom: 7px;
    font-size: 13px;
    color: var(--text-primary);
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 15px;
}
